/* header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
} */
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.Products {
  display: flex;
  flex-wrap: wrap;
}

.Product {
  border: 1px #404040 solid;
  margin: 1rem;
  justify-content: center;
}
.Product img {
  width: 100%;
  max-width: 400px;
}

.Product-info {
  padding: 1rem;
}
